build/*
target/*
.idea/*
cloud_client/build/*
cloud_client/target/*
cloud_client/.idea/*
cloud_common/build/*
cloud_common/target/*
cloud_common/.idea/*
cloud_server/build/*
cloud_server/target/*
cloud_server/.idea/*
cloud_server/cloud_storage/*
cloud_client/local_storage/*
local_storage/*
server_storage/*